
@{
    ViewBag.Title = "Calendar";
}

<body>


    <div class="container">
        <form>
            
            <div class="calendar">Calendar Will Go Here</div><br />

        </form>
    </div>
</body>