@*Add title to viewbag*@
@{
    ViewBag.Title = "Calendar"; //Put title in viewbag to be accessed by _Layout.cshtml
}

<body>


    <div class="container">
        <form>
            @*TODO: Implement Calendar. Doing research on various ways to implement a calender (including the use of plugins)
                for this application*@
            <div class="calendar">Calendar Will Go Here</div><br /> @*calendar placeholder box*@
 
        </form>
    </div>
</body>