@*Add title to viewbag*@
@{
    ViewBag.Title = "Calendar";
}

<body>


    <div class="container">
        <form>
            @*TODO: Implement Calendar*@
            <div class="calendar">Calendar Will Go Here</div><br />
 
        </form>
    </div>
</body>