@{
    ViewBag.Title = "Dashboard";
}

<body>


    <div class="container">
        
        <h3>Task Summary</h3>
        <h4>To Do:</h4> <div class="kanbanSummary">7</div>
        <h4>Doing</h4> <div class="kanbanSummary">7</div>
        <h4>Done:</h4><div class="kanbanSummary">7</div>


        <h3>Completed Tasks Wall</h3>
        <div class="completedTaskWall">
            <div class="task">dfasd</div>
            <div class="task">dfasd</div>
            <div class="task">dfasd</div>
            <div class="task">dfasd</div>
            <div class="task">dfasd</div>
            <div class="task">dfasd</div>
            <div class="task">dfasd</div>
            <div class="task">dfasd</div>
            <div class="task">dfasd</div>
            <div class="task">dfasd</div>
            <div class="task">dfasd</div>
            <div class="task">dfasd</div>
            <div class="task">dfasd</div>
            <div class="task">dfasd</div>
            <div class="task">dfasd</div>
            <div class="task">dfasd</div>
            <div class="task">dfasd</div>
            <div class="task">dfasd</div>
            <div class="task">dfasd</div>
            <div class="task">dfasd</div>
            <div class="task">dfasd</div>
            <div class="task">dfasd</div>
            <div class="task">dfasd</div>
            <div class="task">dfasd</div>
            <div class="task">dfasd</div>
            <div class="task">dfasd</div>
            <div class="task">dfasd</div>
            <div class="task">dfasd</div>
            <div class="task">dfasd</div>
            <div class="task">dfasd</div>
            <div class="task">dfasd</div>
            <div class="task">dfasd</div>
            <div class="task">dfasd</div>
            <div class="task">dfasd</div>
            <div class="task">dfasd</div>
            <div class="task">dfasd</div>
            <div class="task">dfasd</div>
            <div class="task">dfasd</div>
            <div class="task">dfasd</div>
            <div class="task">dfasd</div>
            <div class="task">dfasd</div>
            <div class="task">dfasd</div>
            <div class="task">dfasd</div>
            <div class="task">dfasd</div>
            <div class="task">dfasd</div>
            <div class="task">dfasd</div>
            <div class="task">dfasd</div>
            <div class="task">dfasd</div>
            <div class="task">dfasd</div>
            <div class="task">dfasd</div>
            <div class="task">dfasd</div>
            <div class="task">dfasd</div>

    </div>


        <h3>Statistics</h3>
            <div class="graph">Graph Will Go Here</div>
            <div class="graph">Graph Will Go Here</div>
       
</body>