@*Add title to viewbag*@
@{
    ViewBag.Title = "Home";
}

<body>
    @*TODO: Once application is integrated with database, figure out a way to verify a user's credentials as well as create a new 
        user by passing information entered in this view back to the controller*@

    <div class="container">
        @*Form Begins*@
        <form>
            @*Create div tag of class login*@
            <div class="login">
                <h3>Log In</h3>
                <div class="label">Email:</div> <input type="text" name="email" class="text" /><br />
                <div class="label">Password:</div> <input type="text" name="password" class="text" /><br />
                <button class="button">Log In</button>
            </div>
            @*Create div tag of class signup*@
            <div class="signup">
                <h3>Sign Up</h3>
                <div class="label">First Name:</div> <input type="text" name="firstName" class="text" /><br />
                <div class="label">Last Name:</div> <input type="text" name="lastName" class="text" /><br />
                <div class="label">Birthday:</div> <input type="text" name="birthday" class="text" /><br />
                <div class="label">Phone Number:</div> <input type="text" name="phoneNumber" class="text" /><br />
                <div class="label">Email:</div> <input type="text" name="email" class="text" /><br />
                <div class="label">Password:</div> <input type="text" name="lastName" class="text" /><br />
                <div class="label">Retype Password:</div> <input type="text" name="lastName" class="text" /><br />
                <button class="button">Sign Up</button>
            </div>
        </form>
    </div>
</body>
