@*Add title to viewbag*@
@{
    ViewBag.Title = "Kanban";
}

<body>


    <div class="container">
        <form>

            @*Create table to replicate kanban wall*@
            <table class="kanban">
                <tr>
                    <th width="10%"></th>
                    <th width="30%">To Do</th>
                    <th width="30%">Doing</th>
                    <th width="30%">Done</th>
                </tr>
                @{
                    for (int i = 0; i < 5; i++)
                    {
                        <tr>
                            <td>dksjfksj;lf</td>
                            <td>
                                @{for (int j = 0; j < 4; j++)
                                    {
                                        <div class="task">dskjf;afk</div>
                                    }}
                            </td>

                            <td>
                                @{for (int j = 0; j < 4; j++)
                                    {
                                        <div class="task">dskjf;afk</div>
                                    }}
                            </td>
                            <td>
                                @{for (int j = 0; j < 4; j++)
                                    {
                                        <div class="task">dskjf;afk</div>
                                    }}
                            </td>

                        </tr>

                                    }
                }


            </table>

            @*TODO: add popups that allow user to enter information when buttons are selected*@
            @*TODO: Edit button to allow users to move tasks*@
            <button class="button">Add Course</button>
            <button class="button">Add Task</button>

            <script language="javascript">
                // alert('@ViewBag.Message');
            </script>


        </form>
    </div>
</body>