@*Add title to viewbag*@
@{ 
    ViewBag.Title = "Kanban";
}

<body>


    <div class="container">
        <form>

            @*Create table to replicate kanban wall*@
            <table class="kanban">
                <tr>
                    <th width="10%"></th>
                    <th width="30%">To Do</th>
                    <th width="30%">Doing</th>
                    <th width="30%">Done</th>
                </tr>
                <tr>
                    <td>Course 101</td>
                    <td><div class="task">dfasd</div></td>
                    <td></td>
                    <td><div class="task">dfasd</div><div class="task">dfasd</div></td>
                </tr>
                <tr>
                    <td>Course 202</td>
                    <td><div class="task">dfasd</div><div class="task"> dfasd</div><div class="task"> dfasd</div></td>
                    <td><div class="task">dfasd</div><div class="task">dfasd</div></td>
                    <td><div class="task">dfasd</div></td>
                </tr>
                <tr>
                    <td>Course 303</td>
                    <td><div class="task">dfasd</div></td>
                    <td><div class="task">dfasd</div></td>
                    <td><div class="task">dfasd</div></td>
                </tr>
               
            </table>

            @*TODO: add popups that allow user to enter information when buttons are selected*@
            @*TODO: Edit button to allow users to move tasks*@
            <button class="button">Add Course</button>
            <button class="button">Add Task</button>

        </form>
    </div>
</body>