
@{ 
    ViewBag.Title = "Kanban";
}

<body>


    <div class="container">
        <form>


            <table class="kanban">
                <tr>
                    <th width="10%"></th>
                    <th width="30%">To Do</th>
                    <th width="30%">Doing</th>
                    <th width="30%">Done</th>
                </tr>
                <tr>
                    <td>Course 101</td>
                    <td><div class="task">dfasd</div></td>
                    <td></td>
                    <td><div class="task">dfasd</div><div class="task">dfasd</div></td>
                </tr>
                <tr>
                    <td>Course 202</td>
                    <td><div class="task">dfasd</div><div class="task"> dfasd</div><div class="task"> dfasd</div></td>
                    <td><div class="task">dfasd</div><div class="task">dfasd</div></td>
                    <td><div class="task">dfasd</div></td>
                </tr>
                <tr>
                    <td>Course 303</td>
                    <td><div class="task">dfasd</div></td>
                    <td><div class="task">dfasd</div></td>
                    <td><div class="task">dfasd</div></td>
                </tr>
               
            </table>


            <button class="button">Add Course</button>
            <button class="button">Add Task</button>

        </form>
    </div>
</body>