

@*Add title to viewbag*@
@{
    ViewBag.Title = "Kanban";
}

<body>


    <div class="container">
        <form>

            <table class="kanban">
                <tr>
                    <th width="10%"></th>
                    <th width="30%">To Do</th>
                    <th width="30%">Doing</th>
                    <th width="30%">Done</th>
                </tr>

                @foreach(var course in ViewBag.CurrentUser.Courses)
                {
                    <tr>
                        <td>@course.CourseName</td>
                        <td>
                        @foreach (var task in course.Tasks)
                        {
                            if (task.Status == 1)
                            {
                                <div class="task">@task.Text</div>
                            }
                        }
                        </td>

                        <td>
                            @foreach (var task in course.Tasks)
                            {
                                if (task.Status == 2)
                                {
                                    <div class="task">@task.Text</div>
                                }
                            }
                        </td>

                        <td>
                            @foreach (var task in course.Tasks)
                            {
                                if (task.Status == 3)
                                {
                                    <div class="task">@task.Text</div>
                                }
                            }
                        </td>
                    </tr>
                }

            </table>

            
            @*TODO: add popups that allow user to enter information when buttons are selected*@
            @*TODO: Edit button to allow users to move tasks*@
            <button class="button" id="addCourse">Add Course</button>
            <button class="button" id="addTask">Add Task</button>
            <button class="button" id="moveTask">Move Task</button>
            <button class="button" id="DeleteCourse">Delete Course</button>
            <button class="button" id="DeleteTask">Delete Task</button>

            
            <script language="javascript">
                 
            </script>


        </form>
    </div>
</body>