<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="~/Content/main.css" />
</head>

@*Navigation Bar*@
<ul class="navbar">
    @*<li><a href="\Home\Index">Home</a></li>*@
    <li><a href="\Dashboard\Dashboard">Dashboard</a></li>
    <li><a href="\Kanban\Kanban">Kanban</a></li>
    <li><a href="\Calendar\Calendar">Calendar</a></li>
    <li><a href="\Study\Study">Study</a></li>
    <li><a href="\Settings\Settings">Settings</a></li>
</ul>

<body>

    <div class="container">
        @*Display page title from viewbag*@
        <h1>@ViewBag.Title</h1>

    </div>

    <div class="container-fluid">
        @RenderBody()
    </div>


    <div class="copyright">Study Station &copy; 2016</div>
    @RenderSection("scripts", false)
</body>

</html>
